%tr
  %td
    = link_to student.decorate.full_name,student_path(student)
  %td
    = link_to student_payments_path(student), { title: t('shared.show_subject_items') } do
      %button.btn.btn-default
        = fa_icon "list"
